body {
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2937;
  padding: 15px 60px;
  width: 100%;
}

.page-nav {
  display: flex;
  gap: 20px;
  font-size: 18px;
}

.logo-nav {
  text-decoration: none;
  color: white;
  font-size: 26px;
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.section-1 {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.section-2 {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.card-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 8px;
}

.card-content-1 {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.card-content-1 img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
}

.button {
  padding: 10px 20px;
  background-color: rgb(99, 182, 255);
  color: black;
  border-radius: 8px;
}

.card-button {
  display: flex;
  align-items: center;
}

/* section content 2 */

.card-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border: 1px solid grey;
  border-radius: 8px;
  width: 100%;
}

.card-content-2 {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

/* .card-content-2 img {
  width: auto;
  height: 120px;
  object-fit: cover;
} */

.container-img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
}

.container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-right-button {
  display: flex;
  justify-content: flex-end;
}
