.product-img {
  width: 50%;
  height: auto;
  border-radius: 8px;
}

.product-title {
  color: rgb(244, 86, 29);
  font-size: 24px;
  font-weight: bold;
}

.product-description {
  color: rgb(83, 39, 8);
  font-size: 16px;
}

.product-button {
  color: whitesmoke;
  font-size: 12px;
  background-color: dodgerblue;
  border-radius: 6px;
  padding: 5px;
}
