.body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: center;
  width: 50%;
  border-width: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: rgb(178, 178, 178);
}

.login-text {
  display: flex;
  justify-content: center;
}

.container-password {
  margin-top: 10px;
}

.button-login {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
